---
import MainLayout from "../../layouts/Main.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import BookingBanner from "../../components/BookingBanner.astro";
import SliderCantina from "../../components/SliderCantinaEn.jsx";
import VideoCantina from "../../components/VideoCantina.astro";
import i18next, { t, changeLanguage } from "i18next";
const lang = i18next.language;
const base = lang === "it" ? "" : `/${lang}`;
import { getImage } from "astro:assets";
import myBackground from "../../assets/img/app/image00002.jpeg";
const optimizedBackground = await getImage({ src: myBackground, format: "webp" });
import { Image } from "astro:assets";
import img1 from "../../assets/img/image00010.jpeg";
import img2 from "../../assets/img/Vino-di-Bolgheri-03.webp";
import img3 from "../../assets/img/Vino-di-Bolgheri-07.webp";
import img4 from "../../assets/img/image00009.jpeg";
import img5 from "../../assets/img/image00010.jpeg";
import img6 from "../../assets/img/image00011.jpeg";
import img7 from "../../assets/img/image00012.jpeg";
import img8 from "../../assets/img/image00013.jpeg";
import img9 from "../../assets/img/campo-al-noce_03.webp";

changeLanguage("en");
---


<MainLayout title="Appartamento Jolly - Agriturismo La Rondine Bolgheri">
<Header/>
<SliderCantina client:load />
<section class="bg-secondary dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-primary">{t("cantina.title1")}</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">{t("cantina.text1")}</p>
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
              {t("cantina.btn1")}
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
              {t("cantina.btn2")}
            </a> 
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <Image class="rounded-lg" src={img1} alt={t("cantina.alt1")}>
        </div>                
    </div>
</section>
<section class="bg-secondary dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-primary dark:text-white">{t("cantina.title2")}</h2>
            <p class="mb-4">{t("cantina.text2")}</p>
            <p>{t("cantina.text3")}</p>
        </div>
        <div class="grid grid-cols-1 gap-4 mt-8">
            <Image class="w-full rounded-lg" src={img3} alt="Agriturismo la Rondine Cantina Campo al Noce">
        </div>
    </div>
</section>
<VideoCantina/>
<div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-secondary shadow-lg md:h-auto">
            <Image src={img8} loading="lazy" alt={t("cantina.alt1")} class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-4xl font-bold text-primary sm:text-3xl md:mb-6 md:text-left">{t("cantina.title3")}</h1>
  
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">{t("cantina.text4")}</p>
  
          <h2 class="mb-2 text-center text-xl font-semibold text-green sm:text-2xl md:mb-4 md:text-left">{t("cantina.title4")}</h2>
  
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">{t("cantina.text5")}</p>
            <a href="https://www.campoalnoce.it/" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
              {t("cantina.btn3")}
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-secondary grid grid-cols-1 lg:grid-cols-3 md:grid-cols-3 gap-4 px-4 lg:px-16">
    <div>
        <a data-fslightbox href={img4.src} class=" h-auto max-w-full rounded-lg">
            <Image class="h-auto max-w-full rounded-lg" src={img4} alt={t("cantina.alt1")} loading="lazy">
          </a>
    </div>
    <div>
        <a data-fslightbox href={img5.src} class=" h-auto max-w-full rounded-lg">
            <Image class="h-auto max-w-full rounded-lg" src={img5} alt={t("cantina.alt1")} loading="lazy">
          </a>        </div>
    <div>
        <a data-fslightbox href={img6.src} class=" h-auto max-w-full rounded-lg">
            <Image class="h-auto max-w-full rounded-lg" src={img6} alt={t("cantina.alt1")} loading="lazy">
          </a>        </div>
    <div>
        <a data-fslightbox href={img7.src} class=" h-auto max-w-full rounded-lg">
            <Image class="h-auto max-w-full rounded-lg" src={img7} alt={t("cantina.alt1")} loading="lazy">
          </a>        </div>
    <div>
        <a data-fslightbox href={img8.src} class=" h-auto max-w-full rounded-lg">
            <Image class="h-auto max-w-full rounded-lg" src={img8} alt={t("cantina.alt2")} loading="lazy">
          </a>        </div>
    <div>
        <a data-fslightbox href={img9.src} class=" h-auto max-w-full rounded-lg">
            <Image class="h-auto max-w-full rounded-lg" src={img9} alt={t("cantina.alt3")} loading="lazy">
          </a>        </div>
   
</div>

<BookingBanner/>
<Footer/>
</MainLayout>