---
import MainLayout from "../layouts/Main.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BookingBanner from "../components/BookingBanner.astro";
import i18next, { t, changeLanguage } from "i18next";
const lang = i18next.language;
const base = lang === "it" ? "" : `/${lang}`;
import { getImage } from "astro:assets";
import myBackground from "../assets/img/app/image00001.jpeg";
const optimizedBackground = await getImage({ src: myBackground, format: "webp" });
import { Image } from "astro:assets";
import img1 from "../assets/img/app/image00002.jpeg";
import img2 from "../assets/img/app/image00003.jpeg";
import img3 from "../assets/img/app/image00004.jpeg";
import img4 from "../assets/img/app/image00005.jpeg";
import img5 from "../assets/img/app/image00006.jpeg";
import img6 from "../assets/img/app/image00007.jpeg";
import img7 from "../assets/img/app/image00008.jpeg";
import img8 from "../assets/img/app/image00009.jpeg";
import img9 from "../assets/img/app/image00010.jpeg";
import img10 from "../assets/img/app/image00011.jpeg";
import img11 from "../assets/img/app/image00012.jpeg";
import img12 from "../assets/img/app/image00013.jpeg";
import img13 from "../assets/img/app/image00014.jpeg";
import img14 from "../assets/img/app/image00015.jpeg";
import img15 from "../assets/img/app/image00016.jpeg";
import img16 from "../assets/img/app/image00017.jpeg";
import img17 from "../assets/img/app/image00018.jpeg";
import img18 from "../assets/img/app/image00019.jpeg";
import img19 from "../assets/img/app/image00020.jpeg";
import img20 from "../assets/img/app/image00021.jpeg";
import img21 from "../assets/img/app/image00022.jpeg";
import img22 from "../assets/img/app/image00023.jpeg";

changeLanguage("it");
---
    
<MainLayout title="Appartamento farfalla - Agriturismo La Rondine Bolgheri">
  <Header/>
  <section class="hero relative z-[1] py-16 lg:py-28 px-0 bg-gray-100 bg-cover bg-no-repeat bg-center text-center" style={`background-image: url(${optimizedBackground.src});`}>
      <div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg sm:max-w-3xl">
        <div class="text-sm text-primary mb-3">{t("farfalla.pretitle")}</div>
  
        <h1 class="text-4xl lg:text-6xl text-secondary font-extrabold mb-2">{t("farfalla.title")}</h1>
  
  
        <div class="flex flex-wrap items-center gap-4 justify-center">
        </div>
      </div>
    </section>
    <div class="bg-secondary py-6 sm:py-8 lg:py-12">
      <div class="mx-auto max-w-screen-xl px-4 md:px-8">
        <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
          <div>
            <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
              <Image src={img1} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
            </div>
          </div>
  
          <div class="md:pt-8">
  
            <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title2")}</h1>
  
            <p class="mb-4 text-base">{t("farfalla.text1")}</p>
            <p class="mb-4 text-base">{t("farfalla.text2")}</p>
  
  
          </div>
        </div>
      </div>
    </div>
  
  <BookingBanner/>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img2} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title3")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text3")}</p>
          <p class="mb-4 text-base">{t("farfalla.text4")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img3} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title4")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text5")}</p>
          <p class="mb-4 text-base">{t("farfalla.text6")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img4} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title5")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text7")}</p>
          <p class="mb-4 text-base">{t("farfalla.text8")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img5} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title6")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text9")}</p>
          <p class="mb-4 text-base">{t("farfalla.text10")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img6} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title7")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text11")}</p>
          <p class="mb-4 text-base">{t("farfalla.text12")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img7} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title8")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text13")}</p>
          <p class="mb-4 text-base">{t("farfalla.text14")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img8} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title9")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text15")}</p>
          <p class="mb-4 text-base">{t("farfalla.text16")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img9} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title10")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text17")}</p>
          <p class="mb-4 text-base">{t("farfalla.text18")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img10} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title11")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text19")}</p>
          <p class="mb-4 text-base">{t("farfalla.text20")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img11} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title12")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text21")}</p>
          <p class="mb-4 text-base">{t("farfalla.text22")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img12} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title13")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text23")}</p>
          <p class="mb-4 text-base">{t("farfalla.text24")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img13} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title14")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text25")}</p>
          <p class="mb-4 text-base">{t("farfalla.text26")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img14} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title15")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text27")}</p>
          <p class="mb-4 text-base">{t("farfalla.text28")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img15} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title16")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text29")}</p>
          <p class="mb-4 text-base">{t("farfalla.text30")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img16} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title17")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text31")}</p>
          <p class="mb-4 text-base">{t("farfalla.text32")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img17} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title18")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text33")}</p>
          <p class="mb-4 text-base">{t("farfalla.text34")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img18} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title19")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text35")}</p>
          <p class="mb-4 text-base">{t("farfalla.text36")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img19} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title20")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text37")}</p>
          <p class="mb-4 text-base">{t("farfalla.text38")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img20} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title21")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text39")}</p>
          <p class="mb-4 text-base">{t("farfalla.text40")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img21} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title22")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text41")}</p>
          <p class="mb-4 text-base">{t("farfalla.text42")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img22} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">{t("farfalla.title23")}</h1>
  
          <p class="mb-4 text-base">{t("farfalla.text43")}</p>
          <p class="mb-4 text-base">{t("farfalla.text44")}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  
  <Footer/>
</MainLayout>