---
import Image from "astro/components/Image.astro";
import i18next, { t } from "i18next";
const lang = i18next.language;
const base = lang === 'it' ? '' : `/${lang}`;
import img1 from "../assets/img/app/image00001.jpeg"
import img2 from "../assets/img/app/image00003.jpeg"
import img3 from "../assets/img/app/image00008.jpeg"
import img4 from "../assets/img/app/image00010.jpeg"
import img5 from "../assets/img/app/image00004.jpeg"

---


<div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <h2 class="mb-4 text-center text-2xl font-extrabold text-primary md:mb-8 lg:text-5xl xl:mb-12">{t("app_home.title")}</h2>
  
      <div class="mb-4 grid grid-cols-1 gap-4 sm:grid-cols-3 md:mb-8 md:grid-cols-4 md:gap-6 xl:gap-8">
        <!-- image - start -->
        <a href="/jolly" class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
          <Image src={img1}  alt="Photo by Minh Pham" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
          <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
  
          <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">Jolly</span>
        </a>
        <!-- image - end -->
  
        <!-- image - start -->
        <a href="/coccinella" class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
          <Image src={img2} loading="lazy" alt="Photo by Magicle" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
          <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
  
          <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">Coccinella</span>
        </a>
        <!-- image - end -->
  
        <!-- image - start -->
        <a href="/farfalla" class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
          <Image src={img3} loading="lazy" alt="Photo by Martin Sanchez" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
          <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
  
          <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">Farfalla</span>
        </a>
        <!-- image - end -->
  
        <!-- image - start -->
        <a href="/libellula" class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
          <Image src={img4} loading="lazy" alt="Photo by Lorenzo Herrera" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
          <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
  
          <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">Libellula</span>
        </a>
        <!-- image - end -->
      </div>
  
      
    </div>
  </div>