---
import { getImage } from "astro:assets";
import Image from "astro/components/Image.astro";
import i18next, { t } from "i18next";
const lang = i18next.language;
const base = lang === 'it' ? '' : `/${lang}`;
import img1 from "../assets/img/image00001.jpeg"
import img2 from "../assets/img/image00003.jpeg"
import img3 from "../assets/img/image00008.jpeg"
import img4 from "../assets/img/image00010.jpeg"
import img5 from "../assets/img/image00004.jpeg"

---

<section class="bg-secondary dark:bg-gray-900" >
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-4 xl:gap-0 lg:py-16 lg:grid-cols-12">
       
       
        <div class="rounded-lg lg:mt-0 lg:col-span-6 lg:flex">
            <div class="grid gap-2" data-aos="fade-right" data-aos-delay="300" data-aos-easing="linear">
                <div>
                    <Image class="h-auto max-w-full rounded-lg" src={img3} alt="">
                </div>
                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <Image class="h-auto max-w-full rounded-lg" src={img2} alt="">
                    </div>
                    <div>
                        <Image class="h-auto max-w-full rounded-lg" src={img1} alt="">
                    </div>
                    <div>
                        <Image class="h-auto max-w-full rounded-lg" src={img4} alt="">
                    </div>
                    <div>
                        <Image class="h-auto max-w-full rounded-lg" src={img5}alt="">
                    </div>
                </div>
            </div>
        </div>         
        <div class="mr-auto place-self-center lg:col-span-6 ml-8 mt-7 lg:mt-0">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-primary">{t("content2_home.title")}</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-s lg:text-lg dark:text-gray-400">{t("content2_home.text2")}</p>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-s lg:text-lg dark:text-gray-400">{t("content2_home.text3")}</p>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-s lg:text-lg dark:text-gray-400">{t("content2_home.text4")}</p>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-s lg:text-lg dark:text-gray-400">{t("content2_home.text5")}</p>


        </div>       
    </div>
</section>




